@model baukolej.Models.Ogrenciler
@{
    ViewBag.Title = "Yeni";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
@using (Html.BeginForm())
{ 
    @Html.LabelFor(m => m.AdSoyad)
    <br />
    @Html.EditorFor(m => m.AdSoyad)
    <br />
    @Html.LabelFor(m => m.DogumTarih)
    <br />
    @Html.EditorFor(m => m.DogumTarih)
    <br />
    @Html.LabelFor(m => m.BursDurumu)
    <br />

    <div class="radio">
        <label>
            @Html.RadioButtonFor(m => m.BursDurumu, true) Burslu
        </label>
        <label>
            @Html.RadioButtonFor(m => m.BursDurumu, false) Bursuz
        </label>
    </div>
    @*@Html.EditorFor(m => m.BursDurumu)*@
    <br />
    @Html.LabelFor(m => m.Adres)
    <br />
    @Html.EditorFor(m => m.Adres)
    <br />
    <div class="check">
        <label>
            @Html.CheckBoxFor(m => m.Cinsiyet, new { id = "kadin" }) Kadin
        </label>
        <label>
            @Html.CheckBoxFor(m => m.Cinsiyet, new { id = "erkek" }) Erkek
        </label>


    </div>

    <br />
    @Html.LabelFor(m => m.okulNo)
    <br />
    @Html.DropDownListFor(m => m.okulNo, (List<SelectListItem>)ViewBag.datalar)
    <br />

    <input type="submit" value="Oluştur" class="btn btn-primary" style="margin-top:10px;" />
    @Html.ActionLink("Listeye Geri Dön", "Index", null, new { @style = "margin-top:10px;", @class = "btn btn-primary" })
}