@model IEnumerable<user_admin.Models.depertman>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Yeni")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.depertmanNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depertmanAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depertmanAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depertmanTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firmaNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.depertmanNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depertmanAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depertmanAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depertmanTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmaNo)
        </td>
        <td>
            @Html.ActionLink("Duzenle", "Duzenle", new { id = item.depertmanNo }) |
            @Html.ActionLink("Sil", "Sil", new { id = item.depertmanNo })
        </td>
    </tr>
}

</table>
