@model IEnumerable<ModelLayer.Kategori>

<div class="container">
    <a asp-controller="Kategori" asp-action="Create" class="btn btn-outline-primary ">
        <span>Yeni Kategori</span>
    </a>
    <div class="row">

        <table class="table table-bordered table-striped my-2">
            <thead>
                <tr>
                    <th>
                        Kategori ID
                    </th>
                    <th>
                        Ad
                    </th>
                    <th>
                        Açıklama
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    if (item != null)
                    {
                        <tr>
                            <td>@item.kategoriID</td>
                            <td>@item.ad</td>
                            <td>@item.aciklama</td>
                            <td>
                                <a asp-controller="Kategori" asp-action="Edit" asp-route-id="@item.kategoriID" class="btn btn-primary">
                                    Edit
                                </a>
                                <a asp-controller="Kategori" asp-action="Delete" asp-route-id="@item.kategoriID" class="btn btn-danger">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>


</div>