@model IEnumerable<webmnccoreproject.Models.Sporcular>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SporcuID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdSoyad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakimlarID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SporcuID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdSoyad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakimlarID)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.SporcuID}) |
                    @Html.ActionLink("Details", "Details", new { id=item.SporcuID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.SporcuID })
            </td>
        </tr>
}
    </tbody>
</table>
