@model IEnumerable<WebApplication1.Models.Sube>

@{
    ViewBag.Title = "Index";
    Layout = "~/Models/Shared/_LayoutPage2.cshtml";
}

@using (Html.BeginForm())
{
    <div style="text-align:center">
        <p style="font-family:Papyrus; font-size:150%; color:black">Aranacak Şubeyi gir:</p>
        @Html.TextBox("x", null, new { @style = "border-radius:10px" })<br />
        <input type="submit" value="Arama" style="border-radius:10px; margin-top:10px" class="btn btn-success" />
    </div>
}

<p>
    @Html.ActionLink("Yeni Şube", "Yeni", null, new { @class = "btn btn-primary" })
</p>
<table style="text-align:center">
    <thead>
        <tr>
            <th>Sube No</th>
            <th>Sube Ad</th>
            <th>Sube Yönetici</th>
            <th>Sube Adres</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var sube in Model)
        {
            <tr style="border:solid">
                <td style="border:solid">@sube.subeID</td>
                <td style="border:solid">@sube.subeAd</td>
                <td style="border:solid">@sube.subeAdres</td>
                <td style="border:solid">@sube.subeYonetici</td>
                <td style="border:solid">
                    @Html.ActionLink("Düzenle", "Edit", new { id = sube.subeID }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Sil", "Delete", new { id = sube.subeID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

