@model IEnumerable<CoreModelLayer.Model.Unvan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<p>Aranak degeri gir:</p>
@using (Html.BeginForm("Index","Unvan"))
{
@Html.TextBox("x")
<input type="submit" value="Arama" />
}
<p>
    <a asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnvanAd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnvanAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnvanNO">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UnvanNO">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UnvanNO">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
