<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    @if (User.IsInRole("A"))
                    {

                    <li>
                        <a class="nav-link" href="@Url.Action("Index","Ogretmenler")">Ögretmenler<span class="sr-only"></span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Okul")">Okul</a>
                    </li>

                     }
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Ogrenciler")">Öğrenciler</a>
                </li>

                <li class="nav-item">
                    @Html.ActionLink("Çıkış Yap", "LoginOut", "Security")
                </li>
                
            </ul>
        </div>
    </nav>
    <div>
        <h1 style="text-align:center">
            Hoş Geldiniz @HttpContext.Current.User.Identity.Name
        </h1> 
        @RenderBody()
    </div>
</body>
</html>
