@model IEnumerable<WebApplication1.Models.Kitap>
@{
    ViewBag.Title = "Index";
    Layout = "~/Models/Shared/_LayoutPage2.cshtml";
}

@using (Html.BeginForm())
{


        <div style="text-align:center">
            <p style="font-family:Papyrus; font-size:150%; color:black">Aranacak Kitabı gir:</p>
            @Html.TextBox("x", null, new { @style = "border-radius:10px" })<br />
            <input type="submit" value="Arama" style="border-radius:10px; margin-top:10px" class="btn btn-success" />
        </div>


    @Html.ActionLink("Yeni Kitap", "Yeni", null, new { @class = "btn btn-primary" })
    <table style="text-align:center">
        <thead>
            <tr>
                <th style="border:solid">Kitap ID</th>
                <th style="border:solid">Kitap Adı</th>
                <th style="border:solid">Kitap Yazar</th>
                <th style="border:solid">Kitap Basın</th>
                <th style="border:solid">Kitap Sayfa</th>
                <th style="border:solid">Kitap Durum</th>
                <th style="border:solid">Kütüphane</th>
                <th style="border:solid">İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kit in Model)
            {
                <tr>
                    <td style="border:solid">@kit.kitapID</td>
                    <td style="border:solid">@kit.kitapAd</td>
                    <td style="border:solid">@kit.kitapYazar</td>
                    <td style="border:solid">@kit.kitapBasin</td>
                    <td style="border:solid">@kit.kitapSayfa</td>
                    <td style="border:solid">@kit.kitapDurum</td>
                    <td style="border:solid">@kit.Kutuphane.kutuphaneAdi</td>
                    <td style="border:solid">
                        @Html.ActionLink("Düzenle", "Edit", new { id = kit.kitapID }, new { @class = "btn btn-warning" }) |
                        @Html.ActionLink("Sil", "Delete", new { id = kit.kitapID }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

