@model IEnumerable<user_admin.Models.firma>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Yeni")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firmaNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.firmaAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firmaAdres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firmaTel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plazaNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firmaNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmaAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmaAdres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firmaTel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plazaNo)
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Duzenle", new { id = item.firmaNo }) |
            @Html.ActionLink("Sil", "Sil", new { id = item.firmaNo })
        </td>
    </tr>
}

</table>
